<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet-mapping>
        <servlet-name>WebShop</servlet-name>
        <url-pattern>/WebShop</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop</servlet-name>
        <url-pattern>/Shop</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shoppingCart</servlet-name>
        <url-pattern>/shoppingCart</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myOrders</servlet-name>
        <url-pattern>/myOrders</url-pattern>    
    </servlet-mapping>
</web-app>
